<a href="https://colab.research.google.com/github/luxman21/TensorFlowExamPrep/blob/main/twTextSentimentAnalysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [14]:
import zipfile
import pandas as pd
import numpy as np

In [11]:
!wget 'http://cs.stanford.edu/people/alecmgo/trainingandtestdata.zip' -O "dataset.zip"

--2021-03-15 23:05:09--  http://cs.stanford.edu/people/alecmgo/trainingandtestdata.zip
Resolving cs.stanford.edu (cs.stanford.edu)... 171.64.64.64
Connecting to cs.stanford.edu (cs.stanford.edu)|171.64.64.64|:80... connected.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: https://cs.stanford.edu/people/alecmgo/trainingandtestdata.zip [following]
--2021-03-15 23:05:10--  https://cs.stanford.edu/people/alecmgo/trainingandtestdata.zip
Connecting to cs.stanford.edu (cs.stanford.edu)|171.64.64.64|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 81363704 (78M) [application/zip]
Saving to: ‘dataset.zip’

dataset.zip         100%[===================>]  77.59M  19.1MB/s    in 5.2s

2021-03-15 23:05:15 (15.0 MB/s) - ‘dataset.zip’ saved [81363704/81363704]

In [13]:
# extract the file 
zippedFile = zipfile.ZipFile('dataset.zip' , 'r')
zippedFile.extractall()
zippedFile.close()

In [29]:
colNames = ['sentiment', 'twitterID', 'date', 'query' , 'user' , 'text']
df = pd.read_csv('training.1600000.processed.noemoticon.csv',encoding='latin-1', names=colNames, header=None)

In [32]:
df.head(10)

   sentiment  ...                                               text
0          0  ...  @switchfoot http://twitpic.com/2y1zl - Awww, t...
1          0  ...  is upset that he can't update his Facebook by ...
2          0  ...  @Kenichan I dived many times for the ball. Man...
3          0  ...    my whole body feels itchy and like its on fire
4          0  ...  @nationwideclass no, it's not behaving at all....
5          0  ...                      @Kwesidei not the whole crew
6          0  ...                                        Need a hug
7          0  ...  @LOLTrish hey  long time no see! Yes.. Rains a...
8          0  ...               @Tatiana_K nope they didn't have it
9          0  ...                          @twittera que me muera ?

[10 rows x 6 columns]